.container {
	width: 1079.200px;
	height: 507.200px;
}

#nav {
	height: 40px;
	margin-top: 20px;
	font-family: arial, sans-serif;
}


.nav{
	margin: 0px;
	padding: 15px;
	float: right;
	height: 30px;
	
}

.li-a {
	display: inline;
	padding: 15px;
	list-style-type: none;
	
}

.li-a a {
	float: right;
	dispaly: block;
	
}

.nav 2 {
	margin: 0px;
	padding: 0px;
	float: right;
	height: 30px;
}

.li-b {
	display: inline;
	padding: 15px;
	list-style-type: none;
}

.li-b a {
	float: right;
}



